.content{
    height: 100%;
    display: flex;
    width: 100%;
    transition: width 150ms ease;

    &_container{
        width: 100%;

        &_user{
            margin-left: 30px;
            padding: 20px 0;
            font-size: 18px;
            font-weight: 600;
        }
    }
   
   
}